@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 86%;
    font-family: "Barlow", sans-serif;
    font-size: 1.125rem;
    max-width: 375px;
}

.head {
    color: hsl(0, 0%, 100%);
    background-image: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav-bar a {
    margin: 20px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    display: none
}

.logo, .nav-bar {
    margin: 20px;
}

.title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 900;
    text-shadow: 0.5px 0 hsl(0, 0%, 100%);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.pic {
    width: 100%;
}

.subtitle {
    font-family: 'Fraunces';
}

.mobile-menu {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin: 1rem;
}

.inside-text {
    color: hsl(232, 10%, 55%)
}

.client-pic {
    border-radius: 100%;
    width: 4rem;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 100%;
}

.pictures img {
    height: 10rem;
}

.clients-title, .sub-name {
    color: hsl(210, 4%, 67%);   
}

.clients-title {
    margin: 3.75rem 0;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.313rem;
}

.name {
    margin: 2.5rem 0 0 0;
}

.sub-name {
    margin: 0.3rem 0 5rem 0;
}

.client-text {
    color: hsl(213, 9%, 39%)
}

.testimony {
    text-align: center;
    margin: 1.25rem;
}




.footer {
    color: hsl(168, 34%, 41%);
    background-color: hsl(167, 37%, 52%);
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-logo {
    width: 12.5rem;
}

.footer-bar {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.footer-bar a {
    color: hsl(168, 33%, 33%);
    text-decoration: none;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials a {
    margin: 0.625rem;
    cursor: pointer;
}

.link {
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(59, 100%, 33%); }


.grid-1 {
    grid-area: 'grid-1';
}

.grid-2 {
    grid-area: 'grid-2';
}

.grid-3 {
    grid-area: 'grid-3';
}

.grid-4 {
    grid-area: 'grid-4';
}

.grid-5 {
    grid-area: 'grid-5';
}

.grid-6 {
    grid-area: 'grid-6';
}

.grid-7 {
    grid-area: 'grid-7';
}

.grid-8 {
    grid-area: 'grid-8';
}

.grid-9 {
    grid-area: 'grid-9';
}

.grid-10 {
    grid-area: 'grid-10';
}


